.button-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
a,button {
  &.button.mdc-button{
    width:200px;
  }
}

@media screen and (max-width: 1100px) {
  /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
  a,button {
    &.button.mdc-button {
      width: 200px;
      margin-bottom: 10px;
    }
  }
  .button-row{
    flex-direction: column;
  }
}
