<h1 style="color: #C5E7E2;margin: 20px auto 40px">AdminMNS</h1>
<nav>
@if (userInfo && (userInfo.role.name == "ADMIN" || userInfo.role.name == "VALIDATOR")) {
    <div class="button-row">
      <div class="nav-item">
        <button mat-flat-button class="button nav-link" routerLink="/accueil">
          Accueil
        </button>
      </div>
      <div class="nav-item">
        <button mat-flat-button class="button nav-link" routerLink="/list-student">
          Consulter les utilisateurs
        </button>
      </div>
      <div class="nav-item">
        <button mat-flat-button class="button nav-link" routerLink="/list-absence">
          Consulter les absences
        </button>
      </div>
      <div class="nav-item">
        <button mat-flat-button class="button nav-link" routerLink="/list-lateness">
          Consulter les retards
        </button>
      </div>
      <div class="nav-item">
        <button mat-flat-button class="button nav-link" routerLink="/list-folder">
          Consulter les dossiers
        </button>
      </div>
      <div class="button nav-item">
        <button mat-flat-button class="button nav-link" (click)="onDeconnexion()">
          Déconnexion
        </button>
      </div>
    </div>
    } @else if (userInfo && userInfo.role.name == "STUDENT") {
  <div class="button-row">
    <div class="nav-item">
      <button mat-flat-button class="button nav-link" routerLink="/accueil">
        Accueil
      </button>
    </div>
    <div class="nav-item">
      <button mat-flat-button class="button nav-link" routerLink="/add-absence">
        Déposer une absence
      </button>
    </div>
    <div class="nav-item">
      <button mat-flat-button class="button nav-link" routerLink="/add-lateness">
        Déposer un retard
      </button>
    </div>
    <div class="button nav-item">
      <button mat-flat-button class="button nav-link" (click)="onDeconnexion()">
        Déconnexion
      </button>
    </div>
  </div>

} @else {
  <div class="button-row">
    <div class="nav-item">
      <button
        mat-flat-button
        class="button nav-link"
        routerLinkActive="actuelle"
        routerLink="/connexion"
      >Connexion
      </button>
    </div>
  </div>
  }
</nav>
