<h2>Ajouter/Modifier un étudiant </h2>

<form class="formLog" [formGroup]="formulaireEditStudent" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="Ex. john.doe@domain.com"
    />

    @if (formulaireEditStudent.get("email")?.hasError('required')) {
      <mat-error>L'email est obligatoire</mat-error>
    }
    @if (formulaireEditStudent.get("email")?.hasError('email')) {
      <mat-error>L'email est mal formé</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input
      matInput
      formControlName="lastname"
      placeholder="Votre nom de famille"
    />
    @if (formulaireEditStudent.get("lastname")?.hasError('required')) {
      <mat-error>Le nom de famille est obligatoire</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Prénom</mat-label>
    <input
      matInput
      formControlName="firstname"
      placeholder="Votre prénom"
    />

    @if (formulaireEditStudent.get("firstname")?.hasError('required')) {
      <mat-error>Le prénom est obligatoire</mat-error>
    }

  </mat-form-field>

  <mat-radio-group formControlName="gender" aria-label="Selectionner un genre">
    <mat-radio-button value="H">Homme</mat-radio-button>
    <mat-radio-button value="F">Femme</mat-radio-button>
    <mat-radio-button value="A">Autre</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <mat-label>Date de naissance</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="birthdate"
      placeholder="Votre date de naissance"
    />
    <mat-hint>MM/JJ/AAAA</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @if (formulaireEditStudent.get("birthdate")?.hasError('required')) {
      <mat-error>La date de naissance est obligatoire</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Lieu de naissance</mat-label>
    <input
      matInput
      formControlName="birthplace"
      placeholder="Votre lieu de naissance"
    />

    @if (formulaireEditStudent.get("birthplace")?.hasError('required')) {
      <mat-error>Le lieu de naissance est obligatoire</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nationalité</mat-label>
    <input
      matInput
      formControlName="nationality"
      placeholder="Votre nationalité"
    />

    @if (formulaireEditStudent.get("birthplace")?.hasError('required')) {
      <mat-error>Le lieu de naissance est obligatoire</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Adresse</mat-label>
    <input
      matInput
      formControlName="address"
      placeholder="Votre adresse"
    />

    @if (formulaireEditStudent.get("address")?.hasError('required')) {
      <mat-error>L'adresse est obligatoire</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Code Postal</mat-label>
    <input
      matInput
      formControlName="postalCode"
      placeholder="Votre code postal"
    />

    @if (formulaireEditStudent.get("postalCode")?.hasError('required')) {
      <mat-error>Le code postal est obligatoire</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ville</mat-label>
    <input
      matInput
      formControlName="city"
      placeholder="Votre ville"
    />

    @if (formulaireEditStudent.get("city")?.hasError('required')) {
      <mat-error>La ville est obligatoire</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Numéro de téléphone</mat-label>
    <input
      matInput
      formControlName="phoneNumber"
      placeholder="Votre numéro de téléphone"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Numéro de sécurité sociale</mat-label>
    <input
      matInput
      formControlName="socialSecurityNumber"
      placeholder="Votre numéro de sécurité sociale"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Numéro de France Travail</mat-label>
    <input
      matInput
      formControlName="franceTravailNumber"
      placeholder="Votre numéro France Travail"
    />
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">
    {{ idStudent == null ? "Ajouter l'étudiant" : "Modifier l'étudiant" }}
  </button>

</form>
