<h2>Ajouter/Modifier un utilisateur </h2>

<form class="formLog" [formGroup]="formulaireEditUser" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="Ex. john.doe@domain.com"
    />

    @if (formulaireEditUser.get("email")?.hasError('required')) {
      <mat-error>L'email est obligatoire</mat-error>
    }
    @if (formulaireEditUser.get("email")?.hasError('email')) {
      <mat-error>L'email est mal formé</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mot de passe</mat-label>

    <input
      matInput
      formControlName="password"
      [type]="afficheMotDePasse ? 'text' : 'password'"
    />

    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="afficheMotDePasse = !afficheMotDePasse"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="afficheMotDePasse"
    >
      <mat-icon>{{
          afficheMotDePasse ? "visibility" : "visibility_off"
        }}
      </mat-icon>
    </button>

    @if (formulaireEditUser.get('password')?.hasError('required')) {
      <mat-error>Le mot de passe est obligatoire</mat-error>
    }
    @if (formulaireEditUser.get('password')?.hasError('pattern')) {
      <mat-error>8 caractères, minuscule, majuscule, caractère spécial</mat-error>
    }

  </mat-form-field>

  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input
      matInput
      formControlName="lastname"
      placeholder="Votre nom de famille"
    />
    @if (formulaireEditUser.get("lastname")?.hasError('required')) {
      <mat-error>Le nom de famille est obligatoire</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Prénom</mat-label>
    <input
      matInput
      formControlName="firstname"
      placeholder="Votre prénom"
    />

    @if (formulaireEditUser.get("firstname")?.hasError('required')) {
      <mat-error>Le prénom est obligatoire</mat-error>
    }

  </mat-form-field>
  <mat-radio-group formControlName="gender" aria-label="Selectionner un genre">
    <mat-radio-button value="H">Homme</mat-radio-button>
    <mat-radio-button value="F">Femme</mat-radio-button>
    <mat-radio-button value="A">Autre</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select
      formControlName="role"
      [compareWith]="comparateurEtat"
    >
      @for (role of listRole; track role.id) {
        <mat-option [value]="role">{{ role.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">
    {{ idUser == null ? "Ajouter l'utilisateur" : "Modifier l'utilisateur" }}
  </button>

</form>
