<h2>Ajouter/Modifier une lateness</h2>

<form class="formulaire" [formGroup]="formulaireEditLateness" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Email de l'étudiant</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="Ex. john.doe@domain.com"
    />

    @if (formulaireEditLateness.get("email")?.hasError('required')) {
      <mat-error>L'email est obligatoire</mat-error>
    }
    @if (formulaireEditLateness.get("email")?.hasError('email')) {
      <mat-error>L'email est mal formé</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nom de famille de l'étudiant</mat-label>
    <input
      matInput
      formControlName="lastname"
      placeholder="Votre nom de famille"
    />
    @if (formulaireEditLateness.get("lastname")?.hasError('required')) {
      <mat-error>Le nom de famille est obligatoire</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Prénom de l'étudiant</mat-label>
    <input
      matInput
      formControlName="firstname"
      placeholder="Votre prénom"
    />

    @if (formulaireEditLateness.get("firstname")?.hasError('required')) {
      <mat-error>Le prénom est obligatoire</mat-error>
    }

  </mat-form-field>

  <mat-form-field>
    <mat-label>Date de création du retard</mat-label>
    <input matInput
           formControlName="creationDate"
           [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>



    @if (formulaireEditLateness.get("creationDate")?.hasError('required')) {
      <mat-error>La date de création de retard est obligatoire</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date du retard</mat-label>
    <input matInput
           formControlName="date"
           [matDatepicker]="picker2">
    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>


    @if (formulaireEditLateness.get("date")?.hasError('required')) {
      <mat-error>La début de l'lateness est obligatoire</mat-error>
    }
  </mat-form-field>


  <mat-radio-group formControlName="validity" aria-label="Selectionner un statut">
    <mat-radio-button value="treated">Validée</mat-radio-button>
    <mat-radio-button value="notTreated">Non validée</mat-radio-button>
  </mat-radio-group>

  <button type="submit" mat-raised-button>
    {{ idLateness == null ? "Ajouter le retard" : "Modifier le retard" }}
  </button>

</form>

