<h2>Formulaire de dépôt d'absence</h2>

    <form class="formulaire" [formGroup]="formAbsence" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label class="label-color">Cause</mat-label>
        <input
          type="text"
          matInput
          formControlName="cause" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date de début</mat-label>
        <input
          matInput
          [matDatepicker]="pickerStart"
          formControlName="pickerStart"
        />
        <mat-hint>MM/JJ/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
        @if (formAbsence.get("pickerStart")?.hasError('required')) {
          <mat-error>La date est obligatoire</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date de fin</mat-label>
        <input
          matInput
          [matDatepicker]="pickerEnd"
          formControlName="pickerEnd"
        />
        <mat-hint>MM/JJ/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
        @if (formAbsence.get("pickerEnd")?.hasError('required')) {
          <mat-error>La date est obligatoire</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Commentaires</mat-label>
        <textarea matInput placeholder="Ecrire un commentaire au besoin"></textarea>
      </mat-form-field>
      <mat-form-field>
          <div>
            <mat-toolbar>
              <input matInput [value]="fileName" />
            </mat-toolbar>
            <input
              type="file"
              id="fileInput"

              (change)="selectFile($event)"
              name="fileInput"
            />
          </div>
        </mat-form-field>

        @if (message) {
          <div class="message">
            {{ message }}
          </div>
        }


      <button mat-flat-button class="button">Soumettre</button>
    </form>
