<form class="formLog" (ngSubmit)="onConnexion()" [formGroup]="formulaireConnexion">
  <h1>Se connecter</h1>
  <br>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    @if (formulaireConnexion.get("email")?.hasError('required')) {
      <mat-error>L'email est obligatoire</mat-error>
    }
    @if (formulaireConnexion.get("email")?.hasError('email')) {
      <mat-error>L'email est mal formé</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="afficheMotDePasse ? 'text' : 'password'"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="afficheMotDePasse = !afficheMotDePasse"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="afficheMotDePasse"
    >
      <mat-icon>{{
          afficheMotDePasse ? "visibility" : "visibility_off"
        }}
      </mat-icon>
    </button>
    <mat-error>Le mot de passe est obligatoire</mat-error>
  </mat-form-field>

  @if (erreurConnexion) {
    <mat-error>Les identifiants sont incorrects</mat-error>
  }

  <button mat-raised-button style="background-color: #080B21; color:#C5E7E2">Se connecter</button>

  <br>
  <br>

</form>

<p>Vous n'avez pas encore de compte ?</p>
<br>
<button routerLink="/inscription" type="button" mat-stroked-button color="var(--secondary--)">
  S'inscrire
</button>
