<form class=" formulaire" (ngSubmit)="onConnexion()" [formGroup]="formulaireConnexion">
  <h2>Se connecter</h2>
  <mat-form-field>
    <mat-label class="label-color">Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email">
    @if (formulaireConnexion.get("email")?.hasError('required')) {
      <mat-error>L'email est obligatoire</mat-error>
    }
    @if (formulaireConnexion.get("email")?.hasError('email')) {
      <mat-error>L'email est mal formé</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label class="label-color">Mot de passe</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="afficheMotDePasse ? 'text' : 'password'"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="afficheMotDePasse = !afficheMotDePasse"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="afficheMotDePasse"
    >
      <mat-icon>{{
          afficheMotDePasse ? "visibility" : "visibility_off"
        }}
      </mat-icon>
    </button>
    <mat-error>Le mot de passe est obligatoire</mat-error>
  </mat-form-field>

  @if (erreurConnexion) {
    <mat-error>Les identifiants sont incorrects</mat-error>
  }

  <button mat-flat-button class="button">Se connecter</button>

  <br>

</form>
