html,
body{
  height: 100%;
  box-sizing: border-box;
  font-family: Sarabun, "Nunito sans", sans-serif;
  background: linear-gradient(#080B21, #23061E);
  color: #C5E7E2;
  h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-family: Spinnaker, sans-serif;
  }
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

.formulaire {
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  max-width: 400px;
}

a,button {
  &.button.mdc-button {
    width:200px;
    border-radius: 8px;
    padding: 5px;
    background-color: #ffebeb;
    color: #23061E;

    &:hover{
      opacity: 0.8;
    }
  }

}
