html,
body {
  margin: 0;
  padding: 0;
  height: 150vh;
  box-sizing: border-box;
  font-family: Sarabun, "Nunito sans", sans-serif;
  color: #C5E7E2;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: Spinnaker, sans-serif;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}


html {
  @media screen and (max-height: 100vh) {
    background: linear-gradient(to bottom, #080B21, #23061E) no-repeat;
    height: fit-content;
  }
}

.formulaire {
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  max-width: 400px;
}

a, button {
  &.button.mdc-button {
    width: 200px;
    border-radius: 8px;
    padding: 5px;
    background-color: #ffebeb;
    color: #23061E;

    &:hover {
      opacity: 0.8;
    }
  }

}
