  @if (user?.role.name == "ADMIN") {
    <h3>{{ 'Bonjour' + ' ' + user.lastname + ' ' + user.firstname }}</h3>
    <mat-divider></mat-divider>

    <div class="dashboard">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile><h4>Retards à traiter</h4></mat-grid-tile>
      <mat-grid-tile><h4>Absences à traiter</h4></mat-grid-tile>
      <mat-grid-tile><h4>Dossiers d'inscription à traiter</h4></mat-grid-tile>

      <mat-grid-tile>{{ nbToTreatLateness }}</mat-grid-tile>
      <mat-grid-tile>{{ nbToTreatAbsences }}</mat-grid-tile>
      <mat-grid-tile>{{ nbToTreatFolder }}</mat-grid-tile>

      <mat-grid-tile><h4>Retards totaux</h4></mat-grid-tile>
      <mat-grid-tile><h4>Absences totaux</h4></mat-grid-tile>
      <mat-grid-tile><h4>Dossiers d'inscription totaux</h4></mat-grid-tile>

      <mat-grid-tile>{{ nbToTreatLateness }}</mat-grid-tile>
      <mat-grid-tile>{{ nbToTreatAbsences }}</mat-grid-tile>
      <mat-grid-tile>{{ nbToTreatFolder }}</mat-grid-tile>

    </mat-grid-list>

    </div>

  } @else {
    user
  }

