@if (userInfo?.role?.name == "ADMIN" || userInfo?.role?.name == "VALIDATOR") {
  <h3>{{ 'Bonjour' + ' ' + userInfo.lastname + ' ' + userInfo.firstname }}</h3>
      <mat-divider></mat-divider>

    <div class="dashboard">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile class="tile"><h4>Retards à traiter</h4></mat-grid-tile>
      <mat-grid-tile class="tile"><h4>Absences à traiter</h4></mat-grid-tile>
      <mat-grid-tile class="tile"><h4>Dossiers d'inscription à traiter</h4></mat-grid-tile>

      <mat-grid-tile class="tile">{{ this.invalidLateness.length}}</mat-grid-tile>
      <mat-grid-tile class="tile">{{ this.invalidAbsences.length }}</mat-grid-tile>
      <mat-grid-tile class="tile">{{ this.invalidFolders.length }}</mat-grid-tile>

      <mat-grid-tile class="tile"><h4>Retards totaux</h4></mat-grid-tile>
      <mat-grid-tile class="tile"><h4>Absences totaux</h4></mat-grid-tile>
      <mat-grid-tile class="tile"><h4>Dossiers d'inscription totaux</h4></mat-grid-tile>

      <mat-grid-tile class="tile">{{ this.latenessList.length }}</mat-grid-tile>
      <mat-grid-tile class="tile">{{ this.absencesList.length }}</mat-grid-tile>
      <mat-grid-tile class="tile">{{ this.foldersList.length }}</mat-grid-tile>

    </mat-grid-list>

    </div>

  } @else {
  <h3>{{ 'Bonjour' + ' ' + userInfo?.lastname + ' ' + userInfo?.firstname }}</h3>
  <mat-divider></mat-divider>

  <div class="dashboard">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile class="tile"><h4>Retards à traiter</h4></mat-grid-tile>
      <mat-grid-tile class="tile"><h4>Absences à traiter</h4></mat-grid-tile>
      <mat-grid-tile class="tile"><h4>Dossiers d'inscription à traiter</h4></mat-grid-tile>

      <mat-grid-tile class="tile">{{ this.filteredLatenessById.length }}</mat-grid-tile>
      <mat-grid-tile class="tile">{{ this.filteredAbsencesById.length }}</mat-grid-tile>
      <mat-grid-tile class="tile"> {{ this.filteredFoldersById.length }} </mat-grid-tile>

      <mat-grid-tile class="tile"><h4>Retards totaux</h4></mat-grid-tile>
      <mat-grid-tile class="tile"><h4>Absences totaux</h4></mat-grid-tile>
      <mat-grid-tile class="tile"><h4>Dossiers d'inscription totaux</h4></mat-grid-tile>

      <mat-grid-tile>{{ this.latenessListById.length }}</mat-grid-tile>
      <mat-grid-tile>{{ this.absencesListById.length }} </mat-grid-tile>
      <mat-grid-tile>{{ this.foldersListById.length }}</mat-grid-tile>

    </mat-grid-list>

  </div>

  }

